body,
html {
  height: 100%;
  font-family: sans-serif;
}

.js-pscroll {
  position: relative;
  overflow: hidden;
}

.navbar {
  background: transparent;
}

.brand {
  padding-top: 15px;
  padding-left: 15px;
  font-family: "Nunito";
  font-weight: bold;
  color: white;
  font-size: 35px;
  position: fixed;
}

.limiter {
  width: 100%;
  margin: 0 auto;
  background: #4e73df;
  font-family: "Nunito";
  background: linear-gradient(180deg, #5f85f8 10%, #0834b8 100%);
}

.container-table100 {
  max-width: 1366px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 33px 100px;
}

.wrap-table100 {
  width: 100%;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
}

table {
  width: 100%;
}

th,
td {
  font-weight: unset;
  padding-right: 10px;
}

.column1 {
  width: 100%;
  padding-left: 40px;
  position: relative;
  overflow: hidden;
}

.column2 {
  width: 225px;
  padding-left: 20px;
}

.column3 {
  width: 205px;
}

.column4 {
  width: 195px;
}

.column5 {
  width: 200px;
}

.wrap-table100 th {
  padding-top: 21px;
  padding-bottom: 35px;
}

.wrap-table100 td {
  padding-top: 16px;
  padding-bottom: 16px;
}

.wrap-table100 {
  width: 100%;
  position: relative;
}

.table100-firstcol {
  background-color: #fff;
  position: absolute;
  z-index: 1000;
  width: 200px;
  top: 0;
  left: 0;
}

.table100-firstcol table {
  background-color: #fff;
}

.table100-nextcols {
  width: 100%;
  overflow: auto;
  padding-left: 30px;
  padding-bottom: 100px;
}

.table100-nextcols table {
  table-layout: fixed;
}

.table100-firstcol table {
  background-color: transparent;
}

.table100-nextcols td {
  cursor: pointer;
}

.wrap-table100 tr {
  border-bottom: 1px solid #d3d0d0;
}

.head th {
  font-size: 20px;
  padding-top: 30px;
}

.body {
  color: #747474;
  padding-bottom: 30px;
  font-size: 20px;
}

.body:hover {
  margin: 10px 0px;
  letter-spacing: 0.05rem;
  color: black;
  font-size: 21px;
  transition: 0.3s;
}
