{{template "base" .}}

{{define "title"}}MKS Dashboard{{end}}

{{define "main"}}
<div class="position-relative">

    <div class="table-responsive ">
        <table class="table table-dark table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">MKS Resources</th>
                    <th scope="col">Created </th>
                    <th scope="col">Active</th>
                    <th scope="col">Failed</th>
                    <th scope="col">Completed</th>
                    <th scope="col">Deleted</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">MksTask</th>
                    <td>{{.Mkstask.Created}}</td>
                    <td>{{.Mkstask.Active}}</td>
                    <td>{{.Mkstask.Failed}}</td>
                    <td>{{.Mkstask.Completed}}</td>
                    <td>{{.Mkstask.Deleted}}</td>
                </tr>
                <tr>
                    <th scope="row">MksTaskRun</th>
                    <td>{{.Mkstaskrun.Created}}</td>
                    <td>{{.Mkstaskrun.Active}}</td>
                    <td>{{.Mkstaskrun.Failed}}</td>
                    <td>{{.Mkstaskrun.Completed}}</td>
                    <td>{{.Mkstaskrun.Deleted}}</td>
                </tr>
                <tr>
                    <th scope="row">MksPipelineRun</th>
                    <td>{{.Mkspipelinerun.Created}}</td>
                    <td>{{.Mkspipelinerun.Active}}</td>
                    <td>{{.Mkspipelinerun.Failed}}</td>
                    <td>{{.Mkspipelinerun.Completed}}</td>
                    <td>{{.Mkspipelinerun.Deleted}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{{end}}